*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.allContent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    height: 100dvh;
    min-height: 100dvh;
    width: 100%;
}
.navDecoration{
    height: 80px;
    max-width: 100%;
    width: 100%;
    position: relative;
    background: #09002a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.navDecorationColor1{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#fdfcff, #0004f2);
}
.navDecorationColor2{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#04c642, #0004f2);
}
.navDecorationColor3{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#930666, #ed1212);
}
.navDecorationColor4{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#6ba5e0, #f2b100);
}
nav{
    height: 80px;
    max-width: 100%;
    z-index: 10;
    width: 100%;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    position: absolute;
    top: 0;
   
    
}
.headerNav{
    height: 80px;
    max-width: 100%;
    z-index: 10;
    width: 100%;
    position: fixed;
   
}
.navContent{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 100%;
    padding: 0px 10px;
}

.ncbTetContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 90%;
    padding: 10px;
}
.ncbTetContainer label{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.mediaText{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 100%;
    padding: 0px 10px;

}
.mediaText strong{
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.headerLogo{
    background-color: red;
    padding:0px 10px;
    height: 500px;
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ncb{
    height: 90%;
    width: 50%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ncb p{
    font-size: 100px;
    font-weight: 900;
    text-transform: uppercase;
}
.media{
    height: 100%;
    width: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.media p{
    font-size: 100px;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}
.navlinkListContainer{
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
.navLinkList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.navLinkList li{
    padding: 10px;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    border-radius: 6px;
    overflow: hidden;
    padding: 0px 10px;
}
.navLinkList li a{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.newsLetterContainer{
   order: 2;
    max-width: 300px;
    
}
.newsLetterButton{
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    width: 100%;
    border-radius: 6px;
    padding: 0px 0px;
    
}
.newsLetterButton button{
    font-size: 14px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
   padding: 10px;
    border-radius: 10px;
    background: transparent;
    outline: none;
    border: none;
    user-select: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
.newsLetterForm{
   transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    width: 246px;
    max-width: 100%;
    z-index: 99 ;
    right: 35px;
    margin-top: 20px;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    opacity: 0;
}
.navContent.openForm .newsLetterForm {
    pointer-events: all;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
} 
.newsLetterForm form{
    padding: 10px 0px;
}
.newsLetterForm form .newsLetterInput input{
    width: 100%;
    padding: 7px 15px;
    background-color: #333;
    border-radius: 6px;
    border: none;
    outline: none;
}
.newsLetterJoinButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.newsLetterJoinButton button {
    background-color: red;
    padding: 5px 35px;
    border: none;
    outline: none;
    user-select: none;
    color: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.newsLetterIcons{
    position: absolute;
    right: -35px;
    user-select: none;
    outline: none;
    top: 5px;
    
}
.newsLetterIcons i{
    cursor: pointer;
    color: #fff;
    background-color: #000;
    font-weight: 900;
    font-size: 30px;
}
.navMenuContainer{
    height: 80%;
    width: 55px;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
     
}
.navMenuContainer div{
    height: 2px;
    width: 40px;
    color: #000;
    background-color: #fff;
    margin: 5px;
}
.headerDecoration{
    height: 90dvh;
    width: 100%;
    margin-top: 70px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/header.jpg) no-repeat;
    background-position: center;
    block-size: cover;
    position: relative;
}
#headerProfile{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 90dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.667), rgba(3, 3, 4, 0.855));
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.headerProfileContent{
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.headerProfileHeadingContainer{
    background: linear-gradient(to right,#f2f, #0004f2);
    -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.headerProfileHeadingContainer h2{
  color: transparent;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
}
.headerProfileParagrapghContainer{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerProfileParagrapghContainer p{
  
    color: #f2f2f2;
    font-size: 25px;
    width: 100%;

    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    font-family: serif;
    text-transform: capitalize;
}
.headerProfilebuttonContainer{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerProfilebuttonContainer button{
    outline: none;
    border: none;
    user-select: none;
    border-radius: 6px;
    font-weight: 800;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    font-size: 18px;
    text-transform: capitalize;
    
    cursor: pointer;
    padding: 10px 40px;
}
.headerProfilebuttonContainer button a{
    color: #fff;
}
#section{
    margin-top: 100px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    background: #dbd9d9;
}
.sectionAllConent{
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    margin: auto;
}
.aboutNcbMediaTextContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.aboutNcbMediaHeaderContainer{
    width: 100%;
    margin-top: 20px;
}
.aboutNcbMediaHeaderContainer h6{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.hr{
    height: 2px;
    width: 100%;
    color: #333;
    background-color: #333;
}
.aboutNcbMediaText{
    width: 100%;
    margin-top: 20px;
}
.aboutNcbMediaText p{
    font-size: 22px;
    font-weight: 10;
    width: 100%;
    font-family: serif;
}

.aboutNcbMediaText span{
    color: red;
    border-bottom: 1px solid #999;
    text-align: left;
    font-family: "poppins";
    font-weight: 800;
}
.aboutNcbMediaContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#footer{
    background-color: #0e051d;
    width: 100%;
}
.footerContentContainer{
    width: 100%;
}
.footerDontMissContainer{
    height: 100px;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dontMiss p{
    color: #fff;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    list-style-position: 1px;
}
.stayTune p{
    color: #000;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    list-style-position: 1px;
}
.footerListWrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.footerFoursSectionContainer{
    border-right: 2px solid #f2f2f2;
    width: 25%;
}
.fourSectionContentContainer{
    width: 100%;
}
.footerSectionContent{
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;}

.footerLogoContainer{
    padding: 10px;
}
.footerLogoContent{
    background-color: red;
    height: 100px;
    width: 250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerNcb{
    height: 90%;
    width: 50%;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerNcb p {
    color: #000;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.footerMedia{
    height: 100%;
    width: 50%;
    margin-left: -10px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerMedia p {
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.footerdescrptioText{
    margin-top: 10px;
    width: 90%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.footerdescrptioText p{
    color: #999;
    font-weight: 700;

}
.footerEmail{
    margin-top: 20px;
    width: 90%;
    padding: 10px;
}
.footerEmail p{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.footerSectionHeader{
    border-bottom: 2px solid #999;
}
.footerSectionHeader h5{
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: "poppins";
    color: #fff;
}
.footerUlContainer{
    margin-top: 10px;
    padding: 10px;
}
.footerUlContentList{
    width: 100%;
}
.footerUlContentList li{
    list-style: none;
    padding:10px 0px;
}
.footerUlContentList li a{
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 350;
    color: #999;
}
.footerFormContainer{
    margin-top: 10px;
    padding: 10px;
}
#form{
    height: 100%;
    width: 100%;
}
.joinNesLetters{
    width: 100%;
  
}
.joinNesLetters p{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    border-bottom: 2px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;

}
.joinInputForm{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-radius: 5px;
}
.joinInputForm input{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}
.footerSocialMedia{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}
.socialMediaText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socialMediaText p{
    font-size: 20px;
    font-weight: 650;
    border-bottom: 1px solid #fff;
    font-family: "poppins";
    text-transform: capitalize;
    color: #fff;
    font-size: 16px;
}
.iconsContainer{
    display: flex;
    padding: 10px;
    justify-content: center;
    margin-top: 20px;
}
.icon{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon a i{
    font-size: 40px;
    font-weight: 200;
    color: #fff;
}

@media only screen and (width < 990px)  {
   
    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 10px;
        order: 3;
    }
    .headerLogo{
        background-color: red;
        padding:0px 10px;
        height: 400px;
        width: 80%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .ncb{
        height: 90%;
        width: 50%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
   .ncb p{
    font-size: 50px;
   }
    .media{
        height: 100%;
        width: 50%;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   .media p{
    font-size: 50px;
    color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

    .navlinkListContainer{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 1, 1, 0.63)), url(images/background.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 10dvh;
        height: 90dvh;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    }
    .navlinkListContainer-checked {
        transform: translateX(0);
    }
    .navLinkList{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    .navMenuContainer{
        user-select: none;
        outline: none;
        cursor: pointer;
        background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
        border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;  
        order: 1;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    }
    .navMenuContainer div{
        height: 2px;
        width: 40px;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
        color: #000;
        background-color: #fff;
        margin: 5px;
    }
    @keyframes navLink {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .toggle .nabMenuButton1 {
        transform: rotate(45deg) translate(5px, 12px);
      }
      .toggle .nabMenuButton2 {
        opacity: 0;
      }
      .toggle .nabMenuButton3 {
        transform: rotate(-45deg) translate(5px, -12px);
      }
      .newsLetterForm{
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
         width: 246px;
         max-width: 100%;
         right: 300px;
         margin-top: 20px;
         position: absolute;
         padding: 10px;
         pointer-events: none;
         opacity: 0;
     }
     
    
     #footer{
        background-color: #0e051d;
        width: 100%;
    }
    .footerContentContainer{
        width: 100%;
    }
    .footerDontMissContainer{
        height: 100px;
        width: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dontMiss p{
        color: #fff;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        list-style-position: 1px;
    }
    .stayTune p{
        color: #000;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
    }
    .footerListWrapper{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .footerFoursSectionContainer{
        border-right: 2px solid #f2f2f2;
        width: 50%;
    }
    .fourSectionContentContainer{
        width: 100%;
    }
    .footerSectionContent{
        display: flex;
        align-items: center;
        justify-content: center;
    flex-direction: column;}
    
    .footerLogoContainer{
        padding: 10px;
    }
    .footerLogoContent{
        background-color: red;
        height: 100px;
        width: 230px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerNcb{
        height: 90%;
        width: 50%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerNcb p {
        color: #000;
        font-size: 25px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .footerMedia{
        height: 100%;
        width: 50%;
        margin-left: -10px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerMedia p {
        color: #f2f2f2;
        font-size: 25px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .footerdescrptioText{
        margin-top: 10px;
        width: 90%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .footerdescrptioText p{
        color: #999;
        font-weight: 700;
    
    }
    .footerEmail{
        margin-top: 20px;
        width: 90%;
        padding: 10px;
    }
    .footerEmail p{
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .footerSectionHeader{
        border-bottom: 2px solid #999;
    }
    .footerSectionHeader h5{
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 10px;
        font-family: "poppins";
        color: #fff;
    }
    .footerUlContainer{
        margin-top: 10px;
        padding: 10px;
    }
    .footerUlContentList{
        width: 100%;
    }
    .footerUlContentList li{
        list-style: none;
        padding:10px 0px;
    }
    .footerUlContentList li a{
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 350;
        color: #999;
    }
    .footerFormContainer{
        margin-top: 10px;
        padding: 10px;
    }
    #form{
        height: 100%;
        width: 100%;
    }
    .joinNesLetters{
        width: 100%;
      
    }
    .joinNesLetters p{
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        border-bottom: 2px solid #000;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    
    }
    .joinInputForm{
        width: 100%;
        height: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }
    .joinInputForm input{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }
    


    .footerSocialMedia{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
    }
    .socialMediaText{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialMediaText p{
        font-size: 20px;
        font-weight: 650;
        border-bottom: 1px solid #fff;
        font-family: "poppins";
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
    }
    .iconsContainer{
        display: flex;
        padding: 10px;
        justify-content: center;
        margin-top: 20px;
    }
    .icon{
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon a i{
        font-size: 40px;
        font-weight: 200;
        color: #fff;
    }
    
    
    .lastFooterContent{
        background-color: #09002a;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lastFooterContent p{
        color: #999;
        font-weight: 700;
        font-size: 14px;
        
    }
    
   
 
}

@media only screen and (width < 560px) {

 
    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 20px;
        order: 3;
    }
    .headerLogo{
        background-color: red;
        padding:0px 10px;
        height: 200px;
        width: 80%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
   .ncb p{
    font-size: 30px;
   }
   .media p{
    font-size: 30px;
   }
    .ncbTetContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 90%;
        padding: 10px;
    }
    .ncbTetContainer label{
        color: #000;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-weight: 800;
    }
    .mediaText{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        height: 100%;
        padding: 0px 10px;
    
    }
    .mediaText strong{
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .newsLetterButton button{
        font-size: 12px;
        font-weight: 600;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
    .navMenuContainer{
        height: 80%;
        width: 50px;
        background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;
        align-items: center;
        flex-direction: column;
        order: 1;
        justify-content: center;
         
    }
    .navMenuContainer div{
        height: 2px;
        width: 30px;
        color: #000;
        background-color: #fff;
        margin: 5px;
    }
    .newsLetterForm{
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
         width: 80%;
         max-width: 90%;
         right: 90px;
         margin-top: 20px;
         position: absolute;
         padding: 10px;
         pointer-events: none;
         opacity: 0;
     }
     .newsLetterIcons i{
        background-color: red;
    }
    
    #footer{
        background-color: #0e051d;
        width: 100%;
    }
    .footerContentContainer{
        width: 100%;
    }
    .footerDontMissContainer{
        height: 100px;
        width: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dontMiss p{
        color: #fff;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        list-style-position: 1px;
    }
    .stayTune p{
        color: #000;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
    }
    .footerListWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .footerFoursSectionContainer{
        border-right: none;
        width: 100%;
    }
    .fourSectionContentContainer{
        width: 100%;
    }
    .footerSectionContent{
        display: flex;
        align-items: center;
        justify-content: center;
    flex-direction: column;
}
    
    .footerLogoContainer{
        padding: 10px;
    }
    .footerLogoContent{
        background-color: red;
        height: 100px;
        width: 230px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerNcb{
        height: 90%;
        width: 50%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerNcb p {
        color: #000;
        font-size: 25px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .footerMedia{
        height: 100%;
        width: 50%;
        margin-left: -10px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerMedia p {
        color: #f2f2f2;
        font-size: 25px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .footerdescrptioText{
        margin-top: 10px;
        width: 90%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .footerdescrptioText p{
        color: #999;
        font-weight: 700;
    
    }
    .footerEmail{
        margin-top: 20px;
        width: 90%;
        padding: 10px;
    }
    .footerEmail p{
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .footerSectionHeader{
        border-bottom: 2px solid #999;
    }
    .footerSectionHeader h5{
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 10px;
        font-family: "poppins";
        color: #fff;
    }
    .footerUlContainer{
        margin-top: 10px;
        padding: 10px;
    }
    .footerUlContentList{
        width: 100%;
    }
    .footerUlContentList li{
        list-style: none;
        padding:10px 0px;
    }
    .footerUlContentList li a{
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 350;
        color: #999;
    }
    .footerFormContainer{
        margin-top: 10px;
        padding: 10px;
    }
    #form{
        height: 100%;
        width: 100%;
    }
    .joinNesLetters{
        width: 100%;
      
    }
    .joinNesLetters p{
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        border-bottom: 2px solid #000;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    
    }
    .joinInputForm{
        width: 100%;
        height: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }
    .joinInputForm input{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }
    .footerSocialMedia{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
    }
    .socialMediaText{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialMediaText p{
        font-size: 20px;
        font-weight: 650;
        border-bottom: 1px solid #fff;
        font-family: "poppins";
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
    }
    .iconsContainer{
        display: flex;
        padding: 10px;
        justify-content: center;
        margin-top: 20px;
    }
    .icon{
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon a i{
        font-size: 40px;
        font-weight: 200;
        color: #fff;
    }
    
 
    .lastFooterContent{
        background-color: #09002a;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lastFooterContent p{
        color: #999;
        font-size: 11px;
        font-weight: 900;
        
    }
    .lastFooterContent p a{
        font-family: serif;
       color: blue;
        
    }
    
   
 

    
 
    
}
@media only screen and (width < 450px) {
    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 10px;;
    }
    .headerLogo{
        background-color: red;
        padding:0px 10px;
        height: 150px;
        width: 80%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .oneMode{
        width: 50%;
    }
    .ncb p{
        font-size: 25px;
    }
    .media p{
        font-size: 25px;
    }
    .ncbTetContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 90%;
        padding: 10px;
    }
    .ncbTetContainer label{
        color: #000;
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
        font-weight: 800;
    }
    .mediaText{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        height: 100%;
        padding: 0px 10px;
    
    }
    .mediaText strong{
        color: #ffffff;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .newsLetterButton button{
        font-size: 14px;
        font-weight: 600;
        background: transparent;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
    .newsLetterButton button{
        font-size: 12px;
        font-weight: 600;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
    .headerProfileHeadingContainer{
        background: linear-gradient(to right,#f2f, #0004f2);
        -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .headerProfileHeadingContainer h2{
      color: transparent;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
    }
}
@media only screen and (min-width: 230px) and (max-width: 400px) {
    

    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 20px;
        order: 3;
    }
    .headerLogo{
        background-color: red;
        padding:0px 10px;
        height: 250px;
        width: 80%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .oneMode{
        width: 50%;
    }
    .ncb p{
        font-size: 25px;
    }
    .media p{
        font-size: 25px;
    }
    .headerProfileHeadingContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right,#f2f, #0004f2);
        -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .headerProfileHeadingContainer h2{
        text-align: center;
      color: transparent;
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
    }
    .navlinkListContainer{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 1, 1, 0.63)), url(images/background.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 10dvh;
        height: 90dvh;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    }
    .navlinkListContainer-checked {
        transform: translateX(0);
    }
    .navLinkList{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    .navMenuContainer{
        user-select: none;
        outline: none;
        cursor: pointer;
        background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
        border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;  
        order: 1;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    }
    .navMenuContainer div{
        height: 2px;
        width: 40px;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
        color: #000;
        background-color: #fff;
        margin: 5px;
    }
    @keyframes navLink {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .toggle .nabMenuButton1 {
        transform: rotate(45deg) translate(5px, 12px);
      }
      .toggle .nabMenuButton2 {
        opacity: 0;
      }
      .toggle .nabMenuButton3 {
        transform: rotate(-45deg) translate(5px, -12px);
      }
   
    .ncbTetContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 90%;
        padding: 10px;
    }
    .ncbTetContainer label{
        color: #000;
        font-size: 18px;
        font-weight: 900;
        text-transform: uppercase;
        font-weight: 800;
    }
    .mediaText{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        height: 100%;
        padding: 0px 10px;
    
    }
    .mediaText strong{
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 800;
        padding: 0;
    }
    
    .newsLetterButton button{
        font-size: 8px;
        padding: 10px 0px;
        font-weight: 900;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
    .navMenuContainer{
        height: 80%;
        width: 50px;
        background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;
        align-items: center;
        flex-direction: column;
        order: 1;
        justify-content: center;
         
    }
    .navMenuContainer div{
        height: 2px;
        width: 30px;
        color: #000;
        background-color: #fff;
        margin: 5px;
    }
    .newsLetterForm{
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
         width: 100%;
         max-width: 90%;
         right: 40px;
         margin-top: 20px;
         position: absolute;
         padding: 10px;
         pointer-events: none;
         opacity: 0;
     }
     .newsLetterIcons i{
        background-color: #000fff;
        border-radius: 50%;
    }
    
    #footer{
        background-color: #0e051d;
        width: 100%;
    }
    .footerContentContainer{
        width: 100%;
    }
    .footerDontMissContainer{
        height: 100px;
        width: 100%;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dontMiss p{
        color: #fff;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        list-style-position: 1px;
    }
    .stayTune p{
        color: #000;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
    }
    .footerListWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        
    }
    .footerFoursSectionContainer{
        border-right: none;
        width: 100%;
    }
    .fourSectionContentContainer{
        width: 100%;
    }
    .footerSectionContent{
        display: flex;
        align-items: center;
        justify-content: center;
    flex-direction: column;
}
    
    .footerLogoContainer{
        padding: 10px;
    }
    .footerLogoContent{
        background-color: red;
        height: 100px;
        width: 230px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerNcb{
        height: 90%;
        width: 50%;
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerNcb p {
        color: #000;
        font-size: 25px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .footerMedia{
        height: 100%;
        width: 50%;
        margin-left: -10px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footerMedia p {
        color: #f2f2f2;
        font-size: 25px;
        font-weight: 900;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
    }
    .footerdescrptioText{
        margin-top: 10px;
        width: 90%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .footerdescrptioText p{
        color: #999;
        font-weight: 700;
    
    }
    .footerEmail{
        margin-top: 20px;
        width: 90%;
        padding: 10px;
    }
    .footerEmail p{
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: 1px;
    }
    .footerSectionHeader{
        border-bottom: 2px solid #999;
    }
    .footerSectionHeader h5{
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 10px;
        font-family: "poppins";
        color: #fff;
    }
    .footerUlContainer{
        margin-top: 10px;
        padding: 10px;
    }
    .footerUlContentList{
        width: 100%;
    }
    .footerUlContentList li{
        list-style: none;
        padding:10px 0px;
    }
    .footerUlContentList li a{
        text-decoration: none;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 350;
        color: #999;
    }
    .footerFormContainer{
        margin-top: 10px;
        padding: 10px;
    }
    #form{
        height: 100%;
        width: 100%;
    }
    .joinNesLetters{
        width: 100%;
      
    }
    .joinNesLetters p{
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        border-bottom: 2px solid #000;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    
    }
    .joinInputForm{
        width: 100%;
        height: 30px;
        margin-top: 20px;
        border-radius: 5px;
    }
    .joinInputForm input{
        border-radius: 5px;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
    }
    .footerSocialMedia{
        margin-top: 20px;
        width: 100%;
        padding: 10px;
    }
    .socialMediaText{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .socialMediaText p{
        font-size: 20px;
        font-weight: 650;
        border-bottom: 1px solid #fff;
        font-family: "poppins";
        text-transform: capitalize;
        color: #fff;
        font-size: 16px;
    }
    .iconsContainer{
        display: flex;
        padding: 10px;
        justify-content: center;
        margin-top: 20px;
    }
    .icon{
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon a i{
        font-size: 40px;
        font-weight: 200;
        color: #fff;
    }
    .lastFooterContent{
        background-color: #09002a;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lastFooterContent p{
        color: #999;
        font-size: 8px;
        font-weight: 900;
        
    }
    .lastFooterContent p a{
        font-family: serif;
        font-weight: 900;
       color: rgb(252, 252, 252);
        
    }
    
}