*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "poppins";
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    height: 100%;
    width: 100%;
}
.allContent{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#header{
    height: 100dvh;
    min-height: 100dvh;
    width: 100%;
}
.navDecoration{
    height: 80px;
    max-width: 100%;
    width: 100%;
    position: relative;
    background: #09002a;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.navDecorationColor1{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#fdfcff, #0004f2);
}
.navDecorationColor2{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#04c642, #0004f2);
}
.navDecorationColor3{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#930666, #ed1212);
}
.navDecorationColor4{
    height: 30%;
    width: 100px;
    border-radius: 10px 200px 0px 200px;
    background: linear-gradient(#6ba5e0, #f2b100);
}
nav{
    height: 80px;
    max-width: 100%;
    z-index: 10;
    width: 100%;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    position: absolute;
    top: 0;
   
    
}
.headerNav{
    height: 80px;
    max-width: 100%;
    z-index: 10;
    width: 100%;
    position: fixed;
   
}
.navContent{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    height: 100%;
    padding: 0px 10px;
}

.ncbTetContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 90%;
    padding: 10px;
}
.ncbTetContainer label{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.mediaText{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 100%;
    padding: 0px 10px;

}
.mediaText strong{
    color: #ffffff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.navlinkListContainer{
   
    display: flex;
    z-index: 100;
    align-items: center;
    justify-content: center;
}
.navLinkList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.navLinkList li{
    padding: 10px;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    border-radius: 6px;
    overflow: hidden;
    padding: 0px 10px;
}
.navLinkList li a{
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.newsLetterContainer{
   order: 2;
    max-width: 300px;
    
}
.newsLetterButton{
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    width: 100%;
    border-radius: 6px;
    padding: 0px 0px;
    
}
.newsLetterButton button{
    font-size: 14px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
   padding: 10px;
    border-radius: 10px;
    background: transparent;
    outline: none;
    border: none;
    user-select: none;
    color: #fff;
    font-weight: 600;
    text-transform: capitalize;
}
.newsLetterForm{
   transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    width: 246px;
    max-width: 100%;
    z-index: 99 ;
    right: 35px;
    margin-top: 20px;
    position: absolute;
    padding: 10px;
    pointer-events: none;
    opacity: 0;
}
.navContent.openForm .newsLetterForm {
    pointer-events: all;
    opacity: 1;
    transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
} 
.newsLetterForm form{
    padding: 10px 0px;
}
.newsLetterForm form .newsLetterInput input{
    width: 100%;
    padding: 7px 15px;
    background-color: #333;
    border-radius: 6px;
    border: none;
    outline: none;
}
.newsLetterJoinButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.newsLetterJoinButton button {
    background-color: red;
    padding: 5px 35px;
    border: none;
    outline: none;
    user-select: none;
    color: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}
.newsLetterIcons{
    position: absolute;
    right: -35px;
    user-select: none;
    outline: none;
    top: 5px;
    
}
.newsLetterIcons i{
    cursor: pointer;
    color: #fff;
    background-color: #000;
    font-weight: 900;
    font-size: 30px;
}
.navMenuContainer{
    height: 80%;
    width: 55px;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
     
}
.navMenuContainer div{
    height: 2px;
    width: 40px;
    color: #000;
    background-color: #fff;
    margin: 5px;
}
.headerDecoration{
    height: 90dvh;
    width: 100%;
    margin-top: 70px;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(images/header.jpg) no-repeat;
    background-position: center;
    block-size: cover;
    position: relative;
}
#headerProfile{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 90dvh;
    background: linear-gradient(rgba(0, 0, 0, 0.667), rgba(3, 3, 4, 0.855));
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerProfileContent{
   
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.headerProfileHeadingContainer{
    background: linear-gradient(to right,#f2f, #0004f2);
    -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.headerProfileHeadingContainer h2{
  color: transparent;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
}
.headerProfileParagrapghContainer{
    background: url(images/lasmid.png) no-repeat;
    background-position: cover;  
    background-size: cover;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.headerProfileParagrapghContainer p{
  
    color: #fff;
    font-size: 30px;
    width: 100%;

    font-weight: 900;
    text-align: center;
    letter-spacing: 1px;
    font-family: serif;
    text-transform: capitalize;
}
.headerProfilebuttonContainer{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerProfilebuttonContainer button{
    outline: none;
    border: none;
    user-select: none;
    border-radius: 6px;
    font-weight: 800;
    background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
    font-size: 18px;
    text-transform: capitalize;
    
    cursor: pointer;
    padding: 10px 40px;
}
.headerProfilebuttonContainer button a{
    color: #fff;
}
#section{
    height: 100%    ;
    width: 90%;
    background-color: #fff;
    margin: 10px;  
}
.sectionHeaderContainer{
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-top: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
}
.sectionHeader{
    height: 100%;
    width: 80%;
    background: linear-gradient(#0004f2, #930666);
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.sectionHeader p {
    color: transparent;
    font-size: 60px;
    text-transform: uppercase;

}
.sectionArtiestStoryContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    height: 100%;
   max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    gap: 10px;
}
.sectionArtiestContainer{
    background-color: #fff;
    display: flex;
    justify-content: center;
    max-width: 49%;
    height: 100%;
    min-width: 50%;
    width: 49%;
    border: 2px solid #bebebe;
    padding: 10px;
    margin-top: 30px;
    flex-direction: column;
}
.sectionArtiestHeader{
    padding: 10px; 
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sectionArtiestHeader h3{
    color: #000;
    text-transform: capitalize;
    font-size: 22px;
    text-align: center;
    border-bottom: 2px solid #000000;
}
.artiestImageTextContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    
    max-width: 100%;
    
}
.artiestImageTextContainer .img{
    background-color: red;
    width: 50%;
    height: 320px;
}
.artiestImageTextContainer .img img{
    width: 100%;
    height: 320px;
    object-fit: cover;
}
.artiestText{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.atiestHeaderText{
    background-color: #fff;
    width: 100%;
    padding:  10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.atiestHeaderText h4{
    border-bottom: 2px solid #000;
    text-align: center;
    font-size: 21px;
    text-transform: capitalize;
    white-space: wrap;
}
.artiestDescription{
    margin-top: 50px;
    margin-left: 10px;
    font-family: serif;

}
.sectionButtonContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    min-width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.sectionButtonContainer .sectionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.sectionButtonContainer .sectionButton button{
    padding: 10px 15px;
    width: 50%;
    background-color: #010101;
    border-radius: 6px;
    border: none;
    outline: none;
    user-select: none;
}
.sectionArtiestContainer .sectionButton button a {
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
#footer{
    background-color: #120424;
    width: 100%;
    min-height: 80dvh;
    height: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.footerContent{
    width: 100%;
    height: 100%;
}
.footerStayTune{
    background-color: red;
    padding: 0px 30px;
    height: 20dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.dontMiss{
    margin-bottom: 0px;
   

}
.dontMiss p{
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
}

.stayTune p{
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
}
.footerList{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footerListContent{
  
    height: 50dvh;
    width: 25%;
}
.logoBox{
    display: flex;
    margin-top: 30px;
    justify-content: center;
    width: 100%;
}
.logoContainer{
    background-color: red;
    height: 80px;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoContainer label{
    background-color: #fff;
    height: 80%;
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoContainer strong{
    background-color: #000;
    height: 100%;
    font-family: serif;
    color: #fff;
    padding: 0px 10px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoBoxText{
    margin-top: 10px;
    width: 100%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logoBoxText p{
    color: #fff;
    padding: 10px;
}
.logoBoxLinks{

    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logoBoxLinks a{
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #999;
}
.logoBox h5{
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    border-bottom: 1px solid #999;
}
.logoBoxText li{
    margin: 10px 80px;
    width: 100%;
    display: flex;
}
.logoBoxText li a{
    font-weight: 400;
    color: #999;
    text-transform: capitalize;
}
.formHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.formHeader p{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
}
.formInput{
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    border-radius: 6px;
}
.formInput input{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    outline: none;
    border: none;
}
.formFollowIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.followNcb{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.followNcb h6{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #999;
}
.iconsContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
.icon{
    padding: 10px 20px;
    border-radius: 6px;
}
.icon a i{
    font-size: 20px;
    color: #999;
}
.lastFooterContent{
    background-color: #09002a;
    height: 10dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lastFooterContent p{
    color: #999;
    font-weight: 700;
    
}
@media only screen and (width < 990px)  {
   
    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 10px;
        order: 3;
    }
    .navlinkListContainer{
        background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 1, 1, 0.63)), url(images/background.jpg) no-repeat;
        background-position: center;
        background-size: cover;
        border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        top: 10dvh;
        height: 90dvh;
        justify-content: center;
        transform: translateX(100%);
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    }
    .navlinkListContainer-checked {
        transform: translateX(0);
    }
    .navLinkList{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
    .navMenuContainer{
        user-select: none;
        outline: none;
        cursor: pointer;
        background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
        border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;  
        order: 1;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
    }
    .navMenuContainer div{
        height: 2px;
        width: 40px;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
        color: #000;
        background-color: #fff;
        margin: 5px;
    }
    @keyframes navLink {
        from {
          transform: translateX(100%);
          opacity: 0;
        }
        to {
          transform: translateX(0);
          opacity: 1;
        }
      }
      .toggle .nabMenuButton1 {
        transform: rotate(45deg) translate(5px, 12px);
      }
      .toggle .nabMenuButton2 {
        opacity: 0;
      }
      .toggle .nabMenuButton3 {
        transform: rotate(-45deg) translate(5px, -12px);
      }
      .newsLetterForm{
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
         width: 246px;
         max-width: 100%;
         right: 300px;
         margin-top: 20px;
         position: absolute;
         padding: 10px;
         pointer-events: none;
         opacity: 0;
     }
     #section{
        height: 100%;
        position: relative;
        top: 0px;
        width: 90%;
        margin-top: 0px;
        
     }
  
     .sectionArtiestStoryContainer{
        flex-wrap: wrap;
        display: flex;
        margin-top: 20px;
        align-items: none;
        justify-content: space-between;
        background-color: #f2f2f2;
        width: 100%;
        height: 80%;
        max-height: 100%;
        max-width: 100%;
        gap: 10px;
    }
    .sectionArtiestContainer{
        background-color: #fff;
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin: 10px;
        height:100%;
        min-width: 100%;
        margin: auto;
        max-height: 100%;
        width: 100%;
        flex-wrap: wrap;
        border: 2px solid #bebebe;
        flex-direction: column;
    }
    .artiestImageTextContainer{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        width: 100%;
        max-width: 100%;
        
       
    }
    .artiestImageTextContainer .img{
     
        width: 50%;
        height: 320px;
    }
    .artiestImageTextContainer .img img{
        width: 100%;
        height: 320px;
        object-fit: cover;
    }
    .artiestDescription{
        width: 100%;
        margin-top: 50px;
        margin-left: 10px;
        font-family: serif;
    
    }
    .artiestText{
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #fff;
    }
    #footer{
        background-color: #120424;
        width: 100%;
        min-height: 80dvh;
        height: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    .footerContent{
        width: 100%;
        height: 100%;
    }
    .footerStayTune{
        background-color: red;
        padding: 0px 30px;
        height: 20dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dontMiss{
        margin-bottom: 0px;
       
    
    }
    .dontMiss p{
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;
    }
    
    .stayTune p{
        color: #000;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;
    }
    .footerList{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footerListContent{
        height: 50dvh;
        width: 49%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .logoBox{
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;

    }
    .logoContainer{
        background-color: red;
        height: 80px;
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoContainer label{
        background-color: #fff;
        height: 80%;
        padding: 10px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoContainer strong{
        background-color: #000;
        height: 100%;
        font-family: serif;
        color: #fff;
        padding: 0px 10px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoBoxText{
        margin-top: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .logoBoxText p{
        width: 100%;
        color: #fff;
        padding: 10px;
    }
    .logoBoxLinks{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .logoBoxLinks a{
        padding-left: 10px;
        width: 100%;
        font-size: 18px;
        font-weight: 500;
        color: #999;
    }
    .logoBox h5{
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
        width: 100%;
        border-bottom: none;
        display: flex;
    
        align-items: baseline;

    }
    .logoBoxText li{
        margin: 10px;
        width: 100%;
        display: flex;
    }
    .logoBoxText li a{
        font-weight: 400;
        color: #999;
        text-transform: capitalize;
    }
    .formHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .formHeader p{
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
    }
    .formInput{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        border-radius: 6px;
    }
    .formInput input{
        height: 100%;
        width: 80%;
        border-radius: 6px;
        outline: none;
        margin-left: -50px;
        text-align: center;
        border: none;
    }
    .formFollowIcons{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .followNcb{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .followNcb h6{
        text-transform: capitalize;
        font-weight: 500;
        width: 100%;
        font-size: 16px;
        color: #fff;
        border-bottom: none;
    }
    .iconsContainer{
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    .icon{
      
        border-radius: 6px;
    }
    .icon a i{
        font-size: 20px;
        color: #999;
    }
    .lastFooterContent{
        background-color: #09002a;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lastFooterContent p{
        color: #999;
        font-weight: 700;
        font-size: 14px;
        
    }
    
   
 
}

@media only screen and (width < 560px) {

 
    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 20px;
        order: 3;
    }
    .ncbTetContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 90%;
        padding: 10px;
    }
    .ncbTetContainer label{
        color: #000;
        font-size: 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-weight: 800;
    }
    .mediaText{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        height: 100%;
        padding: 0px 10px;
    
    }
    .mediaText strong{
        color: #ffffff;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .newsLetterButton button{
        font-size: 12px;
        font-weight: 600;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
    .navMenuContainer{
        height: 80%;
        width: 50px;
        background: linear-gradient(rgba(78, 75, 75, 0.3), rgba(107, 95, 95, 0.3));
    border: 2px solid rgba(229, 225, 225, 0.39);
        display: flex;
        align-items: center;
        flex-direction: column;
        order: 1;
        justify-content: center;
         
    }
    .navMenuContainer div{
        height: 2px;
        width: 30px;
        color: #000;
        background-color: #fff;
        margin: 5px;
    }
    .newsLetterForm{
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
         width: 80%;
         max-width: 90%;
         right: 90px;
         margin-top: 20px;
         position: absolute;
         padding: 10px;
         pointer-events: none;
         opacity: 0;
     }
     .newsLetterIcons i{
        background-color: red;
    }
    #section{
        height: 100%;
        width: 90%;
        background-color: #fff;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
        
    }
    .sectionArtiestStoryContainer{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: #fff  ;
        width: 100%;
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        gap: 10px;
    }
    .sectionArtiestContainer{
        background-color: #fff;
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: 100%;
        min-width: 100%;
        width: 49%;
        border: 2px solid #bebebe;
        padding: 10px;
        flex-direction: column;
    }
    #footer{
        background-color: #120424;
        width: 100%;
        min-height: 80dvh;
        height: 100%;
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }
    .footerContent{
        width: 100%;
        height: 100%;
    }
    .footerStayTune{
        background-color: red;
        padding: 0px 30px;
        height: 20dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .dontMiss{
        margin-bottom: 0px;
       
    
    }
    .dontMiss p{
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;
    }
    
    .stayTune p{
        color: #000;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 30px;
    }
    .footerListWrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .footerList{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .footerListContent{
        height: 50dvh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .logoBox{
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;

    }
    .logoContainer{
        background-color: red;
        height: 80px;
        width: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoContainer label{
        background-color: #fff;
        height: 80%;
        padding: 10px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoContainer strong{
        background-color: #000;
        height: 100%;
        font-family: serif;
        color: #fff;
        padding: 0px 10px;
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .logoBoxText{
        margin-top: 10px;
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .logoBoxText p{
        width: 100%;
        color: #fff;
        padding: 10px;
    }
    .logoBoxLinks{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .logoBoxLinks a{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
        font-size: 18px;
        font-weight: 500;
        color: #999;
    }
    .logoBox h5{
        font-size: 18px;
        text-transform: capitalize;
        color: #fff;
        width: 100%;
        border-bottom: none;
        display: flex;
    justify-content: center;
        align-items: center;

    }
    .logoBoxText li{
        margin: 10px;
        margin-left: 30px;
        width: 100%;
        display: flex;
    }
    .logoBoxText li a{
        font-weight: 400;
        color: #999;
        text-transform: capitalize;
    }
    .formHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .formHeader p{
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
    }
    .formInput{
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 30px;
        border-radius: 6px;
    }
    .formInput input{
        height: 100%;
        width: 100%;
        border-radius: 6px;
        outline: none;
        margin-left: -50px;
        text-align: center;
        border: none;
    }
    .formFollowIcons{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
    }
    .followNcb{
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    .followNcb h6{
        text-transform: capitalize;
        font-weight: 500;
        width: 100%;
        font-size: 16px;
        color: #fff;
        text-align: center;
        border-bottom: none;
    }
    .iconsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }
    .icon{
      
        border-radius: 6px;
    }
    .icon a i{
        font-size: 20px;
        color: #999;
    }
    .lastFooterContent{
        background-color: #09002a;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .lastFooterContent p{
        color: #999;
        font-size: 11px;
        font-weight: 900;
        
    }
    .lastFooterContent p a{
        font-family: serif;
       color: blue;
        
    }
    
   
 

    
 
    
}
@media only screen and (width < 450px) {
    .navLogo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        height: 100%;
        padding: 0px 10px;;
    }
    .ncbTetContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        height: 90%;
        padding: 10px;
    }
    .ncbTetContainer label{
        color: #000;
        font-size: 17px;
        font-weight: 900;
        text-transform: uppercase;
        font-weight: 800;
    }
    .mediaText{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        height: 100%;
        padding: 0px 10px;
    
    }
    .mediaText strong{
        color: #ffffff;
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 800;
    }
    .newsLetterButton button{
        font-size: 14px;
        font-weight: 600;
        background: transparent;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
    .newsLetterButton button{
        font-size: 12px;
        font-weight: 600;
        transition: all 0.6s cubic-bezier(0.68, -0.55, -0.265, 1.55);
       
    }
}